<script type="text/javascript" src="framestats.js"></script>

<mat-card class="card">
    <h2>Warframe Statistics (Beta)</h2>

    <div class="row">
        <div class="col-md-12">
            <mat-card id="statscard">
                <div>
                    <button mat-flat-button color="primary" onclick="getWarframeStats()">Get Warframe</button>
                    <mat-form-field color="primary" class="searchBar">
                        <input matInput placeholder="Warframe" id="searchWarframe"><br>
                    </mat-form-field>
                </div>

                <div>
                    <!--Basic Stats-->
                    <h2 class="heading">Basic Statistics : </h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="warframename">Name : N/A</p>
                            <p id="health">Health : 0</p>
                            <p id="shield">Shield : 0</p>
                            <p id="armor">Armor : 0</p>
                            <p id="sprint">Sprint Speed : 0</p>
                        </div>
                        <div class="col-md-6">
                            <p id="mastery">Mastery Requirement : 0</p>
                            <img id="thumbnail" src=""/>
                        </div>

                        <div class="col-md-5">
                            <p id='description'>Description : N/A</p>
                        </div>
                    </div>

                    <!--Abilities-->
                    <h2 class="heading">Abilities : </h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="ability1">Ability : N/A</p>
                            <p id="ability1Description">Description : N/A</p>
                            <div class="spacer"></div>
                            <p id="ability3">Ability : N/A</p>
                            <p id="ability3Description">Description : N/A</p>
                        </div>
                        <div class="col-md-6">
                            <p id="ability2">Ability : N/A</p>
                            <p id="ability2Description">Description : N/A</p>
                            <div class="spacer"></div>
                            <p id="ability4">Ability : N/A</p>
                            <p id="ability4Description">Description : N/A</p>
                        </div>
                    </div>

                    <!--Components-->
                    <h2 class="heading">Components : </h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="component1">Component : N/A</p>
                            <p id="relic1">Relic : N/A</p>
                            <div class="spacer"></div>
                            <p id="component3">Component : N/A</p>
                            <p id="relic3">Relic : N/A</p>
                        </div>
                        <div class="col-md-6">
                            <p id="component2">Component : N/A</p>
                            <p id="relic2">Relic : N/A</p>
                            <div class="spacer"></div>
                            <p id="component4">Component : N/A</p>
                            <p id="relic4">Relic : N/A</p>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</mat-card>