<script type="text/javascript" src="events.js"></script>

<body onload="Start()">
    <mat-card class="card">
        <h2 id="header">World Events</h2>
        
        <div id="eventtable" class="row">
            <div id="event1card" class="col-md-6">
                <mat-card class="eventcard">
                    <h3 id="event1title">Loading...</h3>
                    <p id="event1location"></p>
                </mat-card>
            </div>

            <div id="event2card" class="col-md-6">
                <mat-card class="eventcard">
                    <h3 id="event2title">Loading...</h3>
                    <p id="event2location"></p>
                </mat-card>
            </div>

            <div id="event3card" class="col-md-6">
                <mat-card class="eventcard">
                    <h3 id="event3title">Loading...</h3>
                    <p id="event3location"></p>
                </mat-card>
            </div>

            <div id="event4card" class="col-md-6">
                <mat-card class="eventcard">
                    <h3 id="event4title">Loading...</h3>
                    <p id="event4location"></p>
                </mat-card>
            </div>
        </div>
    </mat-card>

    <mat-card id="earthcard" class="card">
        <h2 id="header">World Events</h2>
        
        <div id="earthtable" class="row">
            <div id="earthcyclecard" class="col-md-6">
                <mat-card class="eventcard">
                    <h3>Earth State</h3>
                    <p id="earthcycle">Time of day : Day</p>
                </mat-card>
            </div>

            <div id="cetuscyclecard" class="col-md-6">
                <mat-card class="eventcard">
                    <h3>Cetus State</h3>
                    <p id="cetuscycle">Time of day : Day</p>
                </mat-card>
            </div>
        </div>
    </mat-card>
</body>