@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #1C1C1C;
$secondary: #292929;

body
{
    background: $secondary;
}

mat-card
{
    background: $primary;
    color: white;

    div
    {
        mat-form-field
        {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
}

/*#event1card
{
    
}*/

#header
{
    padding-bottom: 25px;
}

.eventcard
{
    background: $secondary;
    padding: 35px;
    margin-bottom: 30px;
}

.card
{
    padding: 35px;
    padding-bottom: 5px;
}

.gamemodeTitle
{
    padding-top: 25px;
}