<script type="text/javascript" src="./events/events.js"></script>

<header>
  <div class="col-12">
    <a class="logo" href="#" routerLink="/">Warframe Statistics</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/events" onclick="Start()">Events</a></li>
        <li><a href="#" routerLink="/tutorials">Tutorials</a></li>
        <li><a href="#" routerLink="/warframestats">Warframe Stats</a></li>
        <li><a href="#" routerLink="/weaponstats">Weapon Stats</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>