@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #1C1C1C;
$secondary: #292929;

body
{
    background: $secondary;
    padding: 25px;

    .container
    {
        background: $secondary;
        color: white;
        margin: 0 auto;
        padding: 10px;
    }
}