<mat-card id="card" class="card">
    <h2>Guide to status chance</h2>

    <div class="row">
        <div class="col-md-12">
            <mat-card id="tutorialcard">
                <h3>Status Effect</h3>
                <p>
                    A Status Effect, or what is more commonly called a 'Proc',
                    is an additional effect which may be triggered at random by
                    a hit from a weapon or Warframe ability.
                </p>

                <p>
                    These Procs can apply an effect to an enemy such as
                    toxin which inflicts toxin damage upon the enemy.
                </p>

                <h3>Status Chance</h3>
                <p>
                    Status Chance is the probability that a hit will inflict a status effect.
                </p>

                <h3>Status Duration</h3>
                <p>
                    The base duration of the Proc will depend on its type, and
                    whether the target is an enemy or another Tenno.
                </p>

                <p>
                    Warframe abilities usually have a high chance to proc, or
                    in some cases, 100% chance to inflict their status effect
                </p>

                <h3>Combos</h3>
                <p>
                    Status effects can be combined to create a new status effect,
                    such as viral which can be created by combining the cold status
                    effect with the toxin status effect
                </p>
            </mat-card>
        </div>
    </div>
</mat-card>