<mat-card id="maincard1" class="card">
    <h2>Introduction</h2>

    <div class="row">
        <div class="col-md-12">
            <mat-card id="introcard">
                <h3>Welcome</h3>
                <p>This is a statistics website for warframe created to make finding information about warframe easier.</p>
                <p>Currently the website is very bare-bones but that will change with regular updates!</p>
            </mat-card>

            <p id="credit">Created by xEdgie</p>
        </div>
    </div>
</mat-card>

<mat-card id="maincard2" class="card">
    <h2>Change Logs</h2>
    <div class="row">
        <div class="col-md-12">
            <mat-card id="changelogcard">
                <p>-Added basic weapon stats</p>
                <p>-Added a guide on modding for beginners</p>
                <p>-Added a guide on status effects</p>
                <p>-Added a list of active events</p>
            </mat-card>
        </div>
    </div>
</mat-card>